<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>exam！！！！！！！！！！！！！</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select weight, give_for from crops where not (give_for = '自家消費');") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報を載せたページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


    <% result = connection.exec("select weight, give_for from crops where quality = false;") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya1.cgi" method="POST">
       下記のボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya1"を、情報の目印とする -->
      <input type="text" name="goya1" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>